body,
p,
h1,
h2 {
  margin: 0;
}

body {
  padding: 1.2em;
}

li {
  text-align: left;
}

#content {
  height: 100vh;
}

.taskContainer {
  display: flex;
  border: 1px solid gray;
  width: 50%;
  justify-content: space-between;
  padding: 0.5em;
}
