* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

body {
  padding: 1.2em;
}

li {
  text-align: left;
}

#content {
  min-height: 100vh;
  /* padding: 1.2em; */
}

.taskContainer {
  display: flex;
  border: 1px solid gray;
  width: 100%;
  justify-content: space-between;
  padding: 0.5em;
}

.new-project-btn {
  margin-left: 1em;
}

.title-input,
.desc-input {
  margin-right: 1em;
}

.projectDivision {
  width: 30%;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
}

.projectWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.listAreaWrapper {
  flex: 1;
}
